<a href="https://colab.research.google.com/github/LucasGabriel98/bucles_python/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Imprimir texto

In [ ]:
print('Bienvenidos a coder Phyton')

Bienvenidos a coder Phyton

In [ ]:
type ( 3 )

int

In [ ]:
type (2.56)

float

In [ ]:
print('hola' + ' paola')

hola paola

In [ ]:
value = 2
value2 = 2.5
value3 = "hola"
print(value)
print(type(value2))

2
<class 'float'>

In [ ]:
valuechain = "holamundo" .format(value)
print(valuechain)
print("%" * 5)

valuechain2 ="hola "

holamundo
%%%%%

In [ ]:
value = 'mundo'
value2 = ' phyton'
print(valuechain)

valuechain = f'hola {value} {value2}'

hola mundo  phyton

In [ ]:
print(r'c:users/franco/\nphyton')
print(print("""
hola mun
do
hyton 
cod
 """))

c:users/franco/\nphyton

hola mun
do
hyton
cod

None

In [ ]:
value = input('ingresa tu edad: ')

print(type(value))

value2 = input('ingresa tu eddad: ')

print(type(int(value2)))

value3 = int(input('edad escrita'))

ingresa tu edad: 1
<class 'str'>
ingresa tu eddad:

ValueError: ignored

In [ ]:
numero_uno = 1
numero_dos = 123


numero_uno += numero_dos
print(numero_uno)

124

In [ ]:
nota1 = 6
nota2 = 10
notafinal = nota1 % nota2
print(notafinal)

6

In [ ]:
nota1=int(input("nota priumer examen"))*0.4
nota2=int(input("nota segundo examen"))*0.6
final = nota1 + nota2
print(final)

nota priumer examen6
nota segundo examen10
8.4

In [ ]:
cadena_1 = "moderno"
cadena_2 = "phyton"
cadena_3 = "es un lenguaje"
cadena_4 = " de programacion"

print(f'{cadena_2}{cadena_3}{cadena_4}{cadena_1}')

phytones un lenguaje de programacionmoderno

In [ ]:
cadena = "acitametaM ,5.8 ,otipeP ordeP"
reversechain = cadena[::-1]
print(reversechain)

Pedro Pepito, 8.5, Matematica

In [44]:
my_list = [1, 2, 3, '4']
my_listv2 = [1, 2, [3, 4]]

my_listv3 = [[1,2], 3, 4,5]
              #0    1  2 3
print(my_listv3[0])
print(my_listv3[0][1])
print(my_listv3[1:])
my_listv4 = [6, 7, 8]
print(my_listv3 + my_listv4)
my_listv3[2] = 10 #se actualiza
print(my_listv3)

my_listv3[1:3] = ['phyton','coder']
print(my_listv3)
###my_listv3[1:3] = [] #declarar lista vacia, tambien list()

value = [1, 2]
value_b = list(value) #asi generas una lista que contenga estos elementos

print(my_listv3)

print(value)
print(value_b)

print('#' * 50)

my_listv3.append([2123,945])
print(my_listv3)

my_listv3 = [[1,2], 3, 4, 5, [10,11]]
my_listv3.extend('hola mundo')
print(my_listv3)

my_listv3.append(3**2+1-22+5)
print(my_listv3)

#my_listv3.pop()
#print(my_listv3)

#my_listv3.pop(5)
my_listv3.append(3)
print(my_listv3)

print(my_listv3.remove(3))
my_listv3.count(3)

my_listv3.append('hola mundo')

my_listv3.remove('hola mundo')
print(my_listv3)


my_listv3.index(3)
print(my_listv3)

[1, 2]
2
[3, 4, 5]
[[1, 2], 3, 4, 5, 6, 7, 8]
[[1, 2], 3, 10, 5]
[[1, 2], 'phyton', 'coder', 5]
[[1, 2], 'phyton', 'coder', 5]
[1, 2]
[1, 2]
##################################################
[[1, 2], 'phyton', 'coder', 5, [2123, 945]]
[[1, 2], 3, 4, 5, [10, 11], 'h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o']
[[1, 2], 3, 4, 5, [10, 11], 'h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', -7]
[[1, 2], 3, 4, 5, [10, 11], 'h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', -7, 3]
None
[[1, 2], 4, 5, [10, 11], 'h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', -7, 3]
[[1, 2], 4, 5, [10, 11], 'h', 'o', 'l', 'a', ' ', 'm', 'u', 'n', 'd', 'o', -7, 3]

In [79]:
list1 = [1, 2, 3, 4]
print(list1)
list1.append('hola')
print(list1)

list2 = ['adios']
print(list2)
list2.append(1234)
print(list2)


list3 = [list1.pop()]
print(list3)

list4 = [list2.pop(1)]
print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4, 'hola']
['adios']
['adios', 1234]
['hola']
[1234]

In [84]:
lista1 = []
lista2 = []

lista1.extend([1234, 'hola'])
lista2.extend(['todobien',1234])


lista3 = list(lista1)
print(lista3)

[1234, 'hola']

In [116]:
tupla = (1,2 ,3 ,4, 5)

lista = [1,2, 3, 4, 5,]

lista = [1]
tupla = (1,)

lista = [] # o list() vacia
tupla = () # o tuple() vacia


tuplav2 = (1,2 ,3 ,4, 5)
lista.extend(tuplav2)

print(lista)

tupla = (1, 2.0, '3', [4, 5], (6, 7, 8))
print(tupla)

print(tupla[0])
print(tupla[4])
print(tupla[2:4])


print(tupla + tuplav2)



#tupla[0] = 1, nmop , inmutable

#borrar valores en tuplas, no podemos, podemso redefinir o sobreescribir

print(tupla)

tupla3 = (1, 2.0, '3', [4, 5], (6, 7, 8))


print(tupla3)

print(tupla3.count(1))

print(tupla3.index(2.0))

print(len(tupla3))


tupla3 = list(tupla3)

tupla3[1] = 2.2

tupla3 = tuple(tupla3)

print(tupla3)

[1, 2, 3, 4, 5]
(1, 2.0, '3', [4, 5], (6, 7, 8))
1
(6, 7, 8)
('3', [4, 5])
(1, 2.0, '3', [4, 5], (6, 7, 8), 1, 2, 3, 4, 5)
(1, 2.0, '3', [4, 5], (6, 7, 8))
(1, 2.0, '3', [4, 5], (6, 7, 8))
1
1
5
(1, 2.2, '3', [4, 5], (6, 7, 8))

In [118]:
tupla = (5, 12, 7, 37, 8, 86, 19, 7, -783, 87, 188, 7, 9, 12, 7, 3982)

print(tupla[-1])
print(len(tupla))
print(tupla.index(87))

lista = list(tupla[-3:])
print(lista)

print(tupla.count(7))

3982
16
9
[12, 7, 3982]
4